@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging
@model PagingList<MedicineHelper.Core.DataTransferObjects.MedicinePrescriptionDto>

@{
    ViewData["Title"] = "Medicine prescription";
    Layout = "_layout";
}

<div class="text-center">
    <h2 class="text-center">Medicine prescription</h2>
    <form asp-controller="MedicinePrescription" asp-action="Index" method="get">
        <div>
            Start date: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            End date: <input type="date" name="SearchDateEnd" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Add medicine prescription</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name of medicine
            </th>
            <th>
                Start of admission
            </th>
            <th>
                End of admission
            </th>
            <th>
                Medicine dose
            </th>
            <th>
                Medicine price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.MedicinesDto.NameOfMedicine, "Details", "MedicinePrescription", new { id = item.MedicinesDto.Id }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOfAdmission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndOfAdmission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineDose)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicinePrice)
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="MedicinePrescription" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div aria-label="Medicine prescription">
    <vc:pager paging-list="@Model" />
</div>

@section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}