@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging
@model PagingList<MedicineHelper.Core.DataTransferObjects.DoctorVisitDto>

@{
    ViewData["Title"] = "Doctor visit";
    Layout = "_layout";
}

<div class="text-center">
    <h2 class="text-center">Doctor visit</h2>
    <form asp-controller="DoctorVisit" asp-action="Index" method="get">
        <div>
            Start date: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            End date: <input type="date" name="SearchDateEnd" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

<p>
    <a class="btn btn-success"  asp-action="Create">Add new visit</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Date of visit
            </th>
            <th>
                Clinic
            </th>
            <th>
                Doctor name
            </th>
            <th>
                Visit price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateVisit)
                </td>
                <td>
                    @Html.ActionLink(item.ClinicDto.Name, "DetailsClinic", "Clinic", new { id = item.ClinicDtoId }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorDto.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.PriceVisit)
                </td>
                <td>
                    <a class="btn btn-primary"  asp-controller="DoctorVisit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="DoctorVisit" asp-action="Delete" asp-route-id="@item.Id" asp-route-name="@item.DoctorName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div aria-label="Doctor visit">
    <vc:pager paging-list="@Model" />
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}