@model IEnumerable<MedicineHelper.Core.DataTransferObjects.ConclusionDto>
@{
    ViewData["Title"] = "Мои медицинские иследования";
    Layout = "_layout";
}

<div class="text-center">
    <h2 class="text-center">Мои медицинские иследования</h2>
    <form asp-controller="MedicalExamination" asp-action="Index" method="get">
        <div>
            Дата начала поиска: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            Дата окончания поиска: <input type="date" name="SearchDateEnd" />
        </div>
        <div class="mb-3">
            <label for="Result" class="form-check-label">Показать медицинские иследования за весь период:</label>
            Да<input type="radio" class="form-check-input" name="AllDates" value="false" checked="checked" />
            Нет<input type="radio" class="form-check-input" name="AllDates" value="true" />
        </div>
        <input type="submit" value="Поиск" />
    </form>
</div>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Add conclusion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название исследования
            </th>
            <th>
                Дата иследования
            </th>
            <th>
                Медицинское учреждение
            </th>
            <th>
                Цена исследования
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.NameOfConclusion, "DetailsMedicalExaminationPartialView", "MedicalExamination", new { id = item.Id }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfConclusion)
                </td>
                <td>
                    @Html.ActionLink(item.ClinicDto.Name, "DetailsMedicalInstitutionPartialView", "MedicalInstitution", new { id = item.ClinicDtoId }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentId)
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="Conclusion" asp-action="Create">Add</a>
                <td>
                    @*<a class="btn btn-outline-danger" asp-controller="MedicalExamination" asp-action="Delete" asp-route-id="@item.Id" asp-route-nameOfMedicalExamination="@item.NameOfMedicalExamination" asp-route-dateOfMedicalExamination="@item.DateOfMedicalExamination">Удалить</a>*@
                </td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <vc:pager paging-list="@Model" class="page-item" />
</nav>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}