@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging
@model PagingList<MedicineHelper.Core.DataTransferObjects.ConclusionDto>

@{
    ViewData["Title"] = "Conclusion";
    Layout = "_layout";
}

<div class="text-center">
    <h2 class="text-center">Conclusion</h2>
    <form asp-controller="Conclusion" asp-action="Index" method="get">
        <div>
            Start date: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            End date: <input type="date" name="SearchDateEnd" />
            <input type="submit" value="Search" />
        </div>
    </form>
</div>

<p>
    <a class="btn btn-success" asp-action="Create">Add conclusion</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name of Conclusion
            </th>
            <th>
                Date of Conclusion
            </th>
            <th>
                Clinic
            </th>
            <th>
                Files
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfConclusion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfConclusion)
                </td>
                <td>
                    @Html.ActionLink(item.ClinicDto.Name, "DetailsClinic", "Clinic", new { id = item.ClinicDtoId }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScanOfConclusionDocument)
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Conclusion" asp-action="Delete" asp-route-id="@item.Id" asp-route-id="@item.Id" asp-route-name="@item.NameOfConclusion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div aria-label="Conclusion">
    <vc:pager paging-list="@Model" />
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}