@model IEnumerable<MedicineHelper.Core.DataTransferObjects.FluorographyDto>

@{
    ViewData["Title"] = "Fluorography";
    Layout = "_layout";
}

<h2 class="text-center">Fluorography</h2>
<div class="card-text">
    <form asp-controller="Fluorography" asp-action="Index" method="get">
        Start date: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
        End date: <input type="date" name="SearchDateEnd" />
        <input type="submit" value="Поиск" />
    </form>
</div>

<p>
    <a asp-action="Create">Add fluorography</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date of fluorography
            </th>
            <th>
                Date of end of fluorography
            </th>
            <th>
                Number fluorography
            </th>
            <th>
                Result
            </th>
            <th>
                Clinic
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOfFluorography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfFluorography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFluorography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem=> item.ClinicDto.Name)
            </td>
            <td>
                @Html.ActionLink(item.ClinicDto.Name, "ClinicDetailsPartialView", "Clinic", new { id = item.ClinicDtoId }, new { @class = "tempClass" })
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-controller="Fluorography" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" asp-controller="Fluorography" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


