@using MedicineHelper.Core.Enums
@model VisitModel
@{
    ViewData["Title"] = "Edit Visit";
}


<div>

    <h1>Edit visit</h1>

    @using (Html.BeginForm("Edit", "Visit", FormMethod.Post))
    {

        <div>
            @Html.LabelFor(model => model.Name, new {@class="form-label"})
            @Html.TextBoxFor(model => model.Name, new {@class="form-control", placeholder = "Enter visited doctor"})
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.VisitDate)
            @Html.TextBoxFor(model => model.VisitDate, new {type="date"})
        </div>
        <br />
        <div>
            @Html.LabelFor(model => model.Cost)
            @Html.TextBoxFor(model => model.Cost)
        </div>
        <br />
        <div>
            <label for="status" class="form-label">Status Type</label>
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<VisitStatus>()" id="status">
            </select>
            <span asp-validation-for="Status"></span>
        </div>
        <br />
        <button>Submit</button>
    }
</div>