@model VisitDto


<tbody>
    <tr>
        <td></td>
        <td>@Html.DisplayFor(modelItem => Model.Name)</td>
        <td>@Html.DisplayFor(modelItem => Model.VisitDate)</td>
        <td>@Html.DisplayFor(modelItem => Model.Status)</td>
        <td>@Html.DisplayFor(modelItem => Model.Cost)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Visit",
            new {id = Model.Id}, new {@class="btn btn-warning"})
        </td>
        <td>
            @Html.ActionLink("Delete", "Remove", "Visit",
            new {id = Model.Id}, new {@class="btn btn-danger"})
        </td>
    </tr>
</tbody>