@model IEnumerable<MedicineHelper.Core.DataTransferObjects.ClinicDto>

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<h2 class="text-center">Clinic</h2>
<p>
    <a asp-controller="Admin" asp-action="AddClinic" class="m-1">Add clinic</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Operation mode
                </th>
                <th>
                    Contact
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperatingMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        <a class="btn" asp-controller="Admin" asp-action="EditClinic" asp-route-id="@item.Id" asp-route-nameClinic="@item.Name" asp-route-adress="@item.Adress" asp-route-operatingMode="@item.OperatingMode" asp-route-contact="@item.Contact">Edit</a>
                        <a class="btn" asp-controller="Admin" asp-action="DeleteClinic" asp-route-id="@item.Id">Delete</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>