@model IEnumerable<MedicineHelper.Core.DataTransferObjects.MedicineDto>

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<h2 class ="text-center">Medicine</h2>

<p>
    <a class="btn btn-success" asp-action="AddMedicine">Add new medicine</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Instuction
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfMedicine)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Instructions))
                    {
                        <a class="m-1" href="@item.Instructions">Instruction</a>
                    }
                    else
                    {
                        <p class="m-1">No instruction</p>
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="EditMedicine" asp-route-id="@item.Id" asp-route-nameMedicine="@item.NameOfMedicine" asp-route-Instructions="@item.Instructions">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteMedicine" asp-route-id="@item.Id" asp-route-nameOfMedicine="@item.NameOfMedicine">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>