@model IEnumerable<MedicineHelper.Core.DataTransferObjects.UserDto>

@{
    ViewData["Title"] = "User";
    Layout = "_AdminLayout";
}

<h2 class="text-center">User</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Last name
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date of birthday
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @if(item.RoleName != "Admin")
                        {
                            <a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@item.Id" asp-route-userEmail="@item.Email" class="m-1">Delete</a>
                    
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>